## Author
Johan Sebastian Grisales

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular open-source development tools for Data Science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. dplyr
5. readr
6. ggplot2
7. tidyr

|Data Science Tools|
-----------------------------
| RStudio |
| Jupyter Lab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [2]:
200/60

3.3333333333333335